.drink-details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0.5rem;
    gap: 1rem;
    .left {
        
        .img-container {
            margin: 0 auto;
            border-radius: 1rem;
            overflow: hidden;
            max-width: 50vh;
        }

    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .favorite-container {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        cursor: pointer;
    }
    img {
        width: 100%;
    }
}

.go-back {
 width: fit-content;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem 1rem 1rem 10rem;
    background-color: #FFAA54;
    font-weight: 700;
    margin: 0.5rem;
    border: 0px;
    transition: 0.2s;
    &:hover {
        background-color: #FF8A14;
    }
}