.ratings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }

    
}
.star-rating-container {
    max-width: 12rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1rem 5rem;
    gap: 0.125rem;
}