<nav>
    <div class="logo">
        <a routerLink="/">
            <div class="logo-container">
                <img src="../../../assets/imgs/cocktail-maker-text-wide.svg" alt="logo" />
            </div>
        </a>
    </div>
    <div class="navbar">
        <ul>
            <li (click)="toggleAboutDisplayed($event)">About</li>
            <li><a routerLink="/cocktail/random">Random</a></li>
            <li (click)="toggleFavoritesBar.emit($event)" >Favorites</li>
        </ul>
    </div>
    <div class="about-container" [ngClass]="{'hidden':!aboutDisplayed}" (click)="toggleAboutDisplayed($event)">
        <app-about></app-about>
    </div>
</nav>