.about-container {
    background-color: #FAFAFA;
    padding: 2rem 1rem;
    border-radius: 0.25rem;

    .about-header {
        text-align: center;
        margin-bottom: 1rem;
        h2 {
            margin: 0px
        }
    }
}