.about-container {
    background-color: #FAFAFA;
    padding: 2rem 1rem;
    border-radius: 0.25rem;

    .about-header {
        text-align: center;
        margin-bottom: 1rem;
        h2 {
            margin: 0px
        }
    }

    .logo-container {
        margin: 1rem auto;
        max-width: 10rem;
        img {
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: #FFAA54;
        &:hover {
            color: #FF8A14;
        }
    }
}